* {
  font: 'Inter', sans-serif;
    margin: 0;
}


/* -----------------------NAVIGATION BAR------------------------ */

ul.navbar {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    /* padding-top: 20px; */
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    height: 100px;
    font: 20px 'Inter', sans-serif;
  }
  
  li.nav {
    float: right ;
  }
  
  li.nav a {
    display: block;
    color: rgb(37, 37, 37);
    text-align: center;
    padding: 20px 40px;
    margin: 20px 0;
    text-decoration: none;
  }
  
  li.nav a:hover {
    background-color: rgb(236, 236, 236);
    transition: 1s;
  }

  ul.navbar img {
    width: 90px;
    height: 90px;
    float: left;
    padding-left: 20px;
  }

/* ------------------------END OF NAVIGATION BAR STYLE--------------------- */


/* ----------------------CONTAINER----------------------------- */


div.main {
  /* border: 3px solid #000; */
  padding: 20px;
  padding-left: 0;
  padding-top: 0;
  width: 80%;
  margin: auto;
  height: 500px;
  border-radius: 0 50px 50px 50px;
  overflow: hidden;
  box-shadow: 10px 10px 4px 0px #0000004F;
  font: 18px 'Inter', sans-serif;
}

/* ---------------------FOR INFORMATION--------------------- */

div.data{
  width: 40%;
  float: left;
  /* padding: 20px; */
  /* border: 2px solid red; */
  margin: 0;
  overflow: hidden;
}  

div.instruction{
  width: 100%;
  height: 600px;
  background-color: #002F49;
}

.instruction section {
  margin: auto;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
}

.instruction section label{
  font: 900 40px 'Inter', sans-serif;
  text-align: center;
  color: #fff;
  line-height: 84px;
}

.instruction section p{
  color: #fff;
  font: 600 24px;
  line-height: 29px;
}

.instruction section i {
  font-style: italic;
}

/* -------------------INPUTS/FORMS------------------ */

div.data1{
  width: 55%;
  float: left;
  height: 600px;
  /* padding: 20px; */
  /* border: 2px solid red; */
  margin: 20px;
  margin-top: 0;
  overflow: hidden;
}  

div.input{
  width: 100%;
}

.input section{
  margin: auto;
  padding: 30px;
}

.input section p{
  padding-bottom: 5px;
  font-weight: bold;
}

.input section.input input{
  padding: 5px;
  margin: 7px;
  margin-left: 0;
  size: 200px;
  color: #000;
  font: 400 18px 'Inter', sans-serif;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 2px #b8b8b8 solid;
}


.input section a{
  text-decoration: none;
  font: 400 18px 'Inter', sans-serif;
  color: #000;
  float: right; 
  padding: 10px 50px;
  background-color: #FCBF4A;
  box-shadow: 4px 4px 4px #b8b8b8;
  border-radius: 10px;
  border: none;
  text-align: center;
  align-items: center;
}

.input section a.backbtn{
  text-decoration: none;
  font: 400 18px 'Inter', sans-serif;
  color: #fff;
  float: left; 
  padding: 10px 50px;
  background-color: #D72729;
  box-shadow: 4px 4px 4px #b8b8b8;
  border-radius: 10px;
  border: none;
  text-align: center;
  align-items: center;
}


/* --------------------------SUCCESSFUL REQUEST--------------------------- */

